[Desktop Entry]
Name=Teteco
Comment=TEDECO TEleConference
Exec=teteco
Icon=teteco.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Network;Application;
